/*body {
    margin:0;
    padding:0;
    text-align:center;
    overflow-y: scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}*/

/*#spacer {
    height:60vh;
}

#background {
    z-index: -2;
    position:static;
    top: 0;
    left:-5vw;
    width:110vw;
    height:100vh;
    background-image: url('resources/mobile/baby.jpg');
    background-size: cover;
    background-position:center;
}*/

/*#backgroundLogo {
    z-index:-1;
    position:fixed;
    width:30vw;
    left:35vw;
    top:35vh;
}*/

#mHeader {
    z-index:10;
    position:fixed;
    top:0;
    left:0;
    width:101%;
    height:10vh;
    background:white;
}

#mLogo {
    height:8vh;
    margin-left:-9vh;
    margin-top:1vh;

}

#listButton {
    float:left;
    padding-left:2vh;
    padding-top:2vh;
    height:6vh;
    width:9vh;
}

/*.scene {
    z-index:5;
    width:90%;
    margin-top:8em;
    margin-bottom:10em;
}

#footerTop {
    z-index:10000;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}

#footerBot {
    z-index:-1;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}*/

#scroller {
    width:101%;
}


