html{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:200;
    color:white;
    max-width:100%;
    overflow-x:hidden;
}

body {
    padding:0;
    margin:0;
    max-width:100%;
    overflow-x:hidden;
}

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}
#web {
  opacity:0;
}
#mobile {
  display:none;
}

#progressFactor {
  z-index: 1000;
  color:red;
  position:fixed;
  left: 50vw;
}

#loaded {
  z-index: -1;
  overflow:hidden;
}
#bar {
  z-index: 3;
  width: 100vw;
  height: 1.8vw;
  left:0;
  position:fixed;
  background: white;
  opacity: 0.7;
}

#triangle {
  z-index: 3;
  top:1.8vw;
  width: 0;
  height: 0;
  left:0;
  position:fixed;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 38vw solid white;
  opacity: 0.7;
}

#whiteHeader {
  left:0;
  z-index: 2;
  position: fixed;
  width:99.6vw;
  height:8vw;
  background-image: url('resources/whiteHeader.png');
  background-size: 100% 100%;
  background-position: center;
  opacity:0;
}

/* INTRO */
  #startingBackground {
    z-index: -8;
    position: fixed;
    display:none;
    top: 0;
    left:-5vw;
    width:110vw;
    height:100vh;
    text-align:center;
    background-image: url('resources/allCards.jpg');
    background-position:0 0;
    background-size: cover;
    overflow:hidden;
    -webkit-filter: blur(20px);
  }

  .intro{
    text-align: center;
    font-weight:200;
    color: #BF1E2E;
    position:fixed;
    width:100vw;
  }

  #introElements {
    display:none;
    z-index:3;
    font-size:1.4em;
    top:25vw;
  }

  #introText {
    z-index:-2;
    position:fixed;
    width:100%;
    text-align: center;
    margin-top:50vh;
    font-size:2em;
    font-weight:200;
    opacity:0;
    text-shadow:0 0 10px white, 0 0 8px black;
  }

  #headerLogo {
    z-index:4;
    width:10vw;
    /*height:8vw; for scaling height*/
    height:auto;
  }

  #startSpacer {
      height: 180vh;
  }

  #motto {
    font-weight: 500;
  }

  #scrollDown {
    z-index:1;
    position:fixed;
    width:10vw;
    left:45vw;
    bottom:1em;
    text-align: center;
    color: white;
    display:none;
  }

  #scrollDownArrows {
    z-index:5;
    width: 2em;
     -webkit-animation:bounce 1s infinite;
  }

  @-webkit-keyframes bounce {
  0%{
    margin-top:0px;
    margin-bottom:-0px;
  }
  
  25%, 75% {
    margin-top:5px;
    margin-bottom:-5px;
  }
  
  
  50% {
    margin-top:10px;
    margin-bottom:-10px;
  }
  
  100% {
    margin-bottom:0;
  }
}

  .scrollClick{
    cursor:pointer;
  }

  #headerButtons{
    position: fixed;
    top:0.4em;
    right:1em;
    text-align:right;
    z-index: 4;
    font-size:1.2em;
  }

  #headerButtons a {
      z-index: 10;
      padding-left:1em;
      padding-right:1em;
      display:inline-block;
      color:#BF1E2E;
      text-decoration:none;
      cursor: pointer;
  }
#headerButtons a:hover {
      color:#E299A0;
  }

/* SCENE 1 */
  #scene1 {
    color:#BF1E2E;
  }

  #text1 {
    display:inline-block;
    height:12em;
    width: 35em;
    max-width:70vw;
    margin-top:-10em;
  }

  #spacer1 {
    display:block;
    width:100vw;
  }

  #swatchLink{
    z-index:8;
    width:100%;
    margin-top:-9.5em;
    margin-bottom:8em;
    padding:1em;
    text-align: left;
  }

  #swatchLink a{
    padding:1em;
    padding-left:53%;
    color: #E299A0;
  }

  #swatchLink a:hover{
    color: #BF1E2E;
  }

  #swatch {
    z-index:4;
    display: inline-block;
    height: 50em;
    max-width:80vw;
    margin-top: -20em;
  }

  #content1 {
    height:30em;
    margin-top:-10em;
    background:white;
  }

  #chevron1 {
    margin-bottom: 12em;
  }

  #chevron1:before {
    height: 55em;
    background: white;
    border-top: 1em solid #BF1E2E;
  }
  #chevron1:after {
    height: 55em;
    background: white;
    border-top: 1em solid #BF1E2E;
  }

/* SCENE 2 */
  #parallaxContent {
    margin-top:-5em;
  }

  #scene2 {
    color:#BF1E2E;
  }

  #text2 {
    margin-top:5em;
    color: white;
  }

  #content2 {
    z-index:-500;
    height:65vw;
    top: 0;
    background-image: url("resources/personalWide.jpg");
    background-position:0 -10vw;
  }

  #chevron2:before {
    height: 15em;
    background: #BF1E2E;
  }
  #chevron2:after {
    height: 15em;
    background: #BF1E2E;
  }

/* SCENE 3 */
  #scene3 {
    margin-top:-10em;
    color:white;
  }

  #text3 {
    margin-top: -1em;
    color: white;
  }

  #content3 {
    height:65vw;
    background-image: url('resources/cupcakes.jpg');
    background-position:0 0;
  }

  #chevron3:before {
    margin-top:-5em;
    height: 15em;
    background: #18171A;
  }
  #chevron3:after {
    margin-top:-5em;
    height: 15em;
    background: #18171A;
  }

/* SCENE 4 */
  #scene4 {
    margin-top:-10em;
    color: #BF1E2E;
  }

  #text4 {
    margin-top: -1em;
    color: #BF1E2E;
    text-align: center;
  }

  #content4 {
    margin-top:-10em;
    height:60vw;
    top: 10em;
    background-image: url('resources/blueprint.jpg');
    background-position:0 0;
  }

  #chevron4:before {
    margin-top:-5em;
    height: 15em;
    background: white;
  }

  #chevron4:after {
    margin-top:-5em;
    height: 15em;
    background: white;
  }

  #startShopping {
    z-index:5;
    background: rgba(0, 0, 0, 0.5);
    width: 30%;
    margin-left:35%;
    margin-top: -35vh;
    padding-top:1em;
    padding-bottom:1em;
    font-size:2em;
    border-radius:3px;
    cursor: pointer;
  }

  #startShopping a{
    color:white;
    text-decoration:none;
  }

  #startShopping:hover{
    background: rgba(0, 0, 0, 0.8);
  }

  #credits {
    position:absolute;
    color: white;
    width: 100%;
    text-align:center;
    bottom: 0;
  }

/* Footer */

  #chevron5:before {
    height: 20em;
    background: white;
    /*border-top: 1em solid #BF1E2E;*/
  }
  #chevron5:after {
    height: 20em;
    background: white;
    /*border-top: 1em solid #BF1E2E;*/
  }
  #footer {
    z-index:1000;
    margin-top:10em;
    height:20em;
    background: white;
  }

  #copyright {
    position:fixed;
    height:2em;
    left:1em;
    bottom:1em;
    float:left;
  }

/* Contact Us Popout */
  #cContainer{
    z-index:1000;
    position:fixed;
    width:10em;
    right:1em;
    bottom:1em;
    float:right;
    text-align: right;
    cursor:pointer;
    text-shadow: 0 0 5px black;
  }

  #contactClosed {
    position:fixed;
    right:6.5em;
    bottom:0.8em;
    float:right;
    width:3em;
    display: default;
  }

  #contactOpen{
    position:fixed;
    right:6.5em;
    bottom:0.8em;
    float:right;
    width:3em;
    display:none;
  }

  #cButtonText{
    display:inline-block;
    cursor:pointer;
  }

  #contactUs{
    display:none;
    z-index: 10000;
    position: fixed;
    bottom: 4em;
    right: 1em;
    background:white;
    padding: 1.5em;
    color: #BF1E2E;
    /*border: solid 0.5em #BF1E2E;*/
  }

  #cTitle{
    margin:0;
    margin-bottom:1em;
    font-weight:500;
  }

  .textField{
    display:block;
    margin: 1em;
    width: 18em;
    padding:0.5em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:200;
    font-size:1em;
  }

  #cMessage{
    height: 6em;
    resize:none;
    border-color: #CCCCCC;
  }

  #cCheckbox{
    text-align: right;
    width:100%;
  }

  #cSubmit{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:200;
    font-size:1em;
    color:white;
    background: #BF1E2E;
    border:none;
    height: 2em;
    width: 6em;
    margin-top:1em;
    float:right;
    cursor:pointer;
  }



/* Classes */
  #spacer {
      height: 1000em;
  }

  .scene {
    position:relative;
    top:0;
    width:100%;
    text-align: center;
  }

  .content {
    position:relative;
    z-index:-3;
    width:100vw;
    background-size: cover;
  }

  .chevron {
    z-index: -2;
    position: top;
    text-align: center;
    margin-bottom: 0.5em;
    padding:1em;
    width: 100vw;
  }

  .chevron:before {
    z-index: -2;
    content: '';
    position: absolute;
    left: 0;
    width: 50vw;
    -webkit-transform: skew(0deg, 6deg);
    -moz-transform: skew(0deg, 6deg);
    -ms-transform: skew(0deg, 6deg);
    -o-transform: skew(0deg, 6deg);
    transform: skew(0deg, 6deg);
  }

  .chevron:after {
    z-index: -2;
    content: '';
    position: absolute;
    left: 50vw;
    width: 50vw;
    -webkit-transform: skew(0deg, -6deg);
    -moz-transform: skew(0deg, -6deg);
    -ms-transform: skew(0deg, -6deg);
    -o-transform: skew(0deg, -6deg);
    transform: skew(0deg, -6deg);
  }​


